In [162]:
import numpy as np
import pandas as pd

In [163]:
letras = list('abcd')
letras

['a', 'b', 'c', 'd']

In [164]:
numeros = list(range(10,50,10))
numeros

[10, 20, 30, 40]

In [165]:
arr = np.array(numeros)
print(arr)

[10 20 30 40]

In [166]:
dicc = dict(zip(letras,numeros))
dicc

{'a': 10, 'b': 20, 'c': 30, 'd': 40}

In [167]:
pd.Series(numeros)

0    10
1    20
2    30
3    40
dtype: int64

In [168]:
pd.Series(numeros, index=letras)

a    10
b    20
c    30
d    40
dtype: int64

In [169]:
series = pd.Series(numeros, index=letras)
print(series[0])
print(series['a'])

10
10

In [170]:
for i in series :
    print(i)

10
20
30
40

In [171]:
data = np.round(np.random.rand(3,5),1)
data

array([[0. , 1. , 0.9, 0.1, 0.9],
       [0.5, 0.7, 0.4, 0.4, 0.7],
       [0.6, 1. , 0.1, 1. , 0.7]])

In [172]:
filas = list('XYZ')
columnas = list('ABCDE')
df = pd.DataFrame(data, filas, columnas)
df

     A    B    C    D    E
X  0.0  1.0  0.9  0.1  0.9
Y  0.5  0.7  0.4  0.4  0.7
Z  0.6  1.0  0.1  1.0  0.7

In [173]:
df['A']

X    0.0
Y    0.5
Z    0.6
Name: A, dtype: float64

In [174]:
df[['A','E']]

     A    E
X  0.0  0.9
Y  0.5  0.7
Z  0.6  0.7

In [175]:
df['A+B'] = df['A']+df['B']
df

     A    B    C    D    E  A+B
X  0.0  1.0  0.9  0.1  0.9  1.0
Y  0.5  0.7  0.4  0.4  0.7  1.2
Z  0.6  1.0  0.1  1.0  0.7  1.6

In [176]:
df = df.drop('A+B', axis=1)
df

     A    B    C    D    E
X  0.0  1.0  0.9  0.1  0.9
Y  0.5  0.7  0.4  0.4  0.7
Z  0.6  1.0  0.1  1.0  0.7

In [177]:
df

     A    B    C    D    E
X  0.0  1.0  0.9  0.1  0.9
Y  0.5  0.7  0.4  0.4  0.7
Z  0.6  1.0  0.1  1.0  0.7

In [178]:
df['C']

X    0.9
Y    0.4
Z    0.1
Name: C, dtype: float64

In [179]:
df.loc['X']

A    0.0
B    1.0
C    0.9
D    0.1
E    0.9
Name: X, dtype: float64

In [180]:
df

     A    B    C    D    E
X  0.0  1.0  0.9  0.1  0.9
Y  0.5  0.7  0.4  0.4  0.7
Z  0.6  1.0  0.1  1.0  0.7

In [181]:
df.iloc[0]

A    0.0
B    1.0
C    0.9
D    0.1
E    0.9
Name: X, dtype: float64

In [182]:
df.shape

(3, 5)

In [183]:
df[['A','B']]

     A    B
X  0.0  1.0
Y  0.5  0.7
Z  0.6  1.0

In [184]:
df[['A','B']].loc[['X','Y']]

     A    B
X  0.0  1.0
Y  0.5  0.7

In [185]:
df > 0.5

       A     B      C      D     E
X  False  True   True  False  True
Y  False  True  False  False  True
Z   True  True  False   True  True

In [186]:
df[df>0.5]

     A    B    C    D    E
X  NaN  1.0  0.9  NaN  0.9
Y  NaN  0.7  NaN  NaN  0.7
Z  0.6  1.0  NaN  1.0  0.7

In [187]:
df['A']<0

X    False
Y    False
Z    False
Name: A, dtype: bool

In [188]:
df[df['A']<0.7]

     A    B    C    D    E
X  0.0  1.0  0.9  0.1  0.9
Y  0.5  0.7  0.4  0.4  0.7
Z  0.6  1.0  0.1  1.0  0.7

In [189]:
df.reset_index()

  index    A    B    C    D    E
0     X  0.0  1.0  0.9  0.1  0.9
1     Y  0.5  0.7  0.4  0.4  0.7
2     Z  0.6  1.0  0.1  1.0  0.7

In [190]:
df = df.reset_index()
df

  index    A    B    C    D    E
0     X  0.0  1.0  0.9  0.1  0.9
1     Y  0.5  0.7  0.4  0.4  0.7
2     Z  0.6  1.0  0.1  1.0  0.7

In [161]:
df

     A    B    C    D    E
X  0.2  0.2  1.0  0.5  0.7
Y  0.6  0.5  0.1  0.4  0.6
Z  0.8  0.7  0.7  0.8  0.6

In [158]:
df = df.set_index('index', inplace=True)

KeyError: "None of ['index'] are in the columns"